.comment
  line-height: 1em
  margin-bottom: 1em
  clear: both
  overflow: auto

.comment-photo
  margin-right: 9px
  float: left

.comment-text
  font-size: 0.8em

.comment-name
  font-weight: bold

.comment-body
  padding-left: 9px
