// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

ul.album-thumbs {
  list-style-type: none;
  width: 992px;
  margin: 0 auto;
  li {
    display: inline-block;
    padding-right: 8px;
  }
}

.album-list {
  li {
    vertical-align: top;
    display: inline-block;
    width: 240px;
    a {
      text-decoration: none;
    }
  }
}

.album-title {
  margin-bottom: 8px;
  text-align: center;
}

.square-button {
  font-size: 0.8em;
  padding: 4px;
  border: black solid 1px;
  background-color: white;
  color: black;
  &:hover {
    box-shadow: 2px 2px 2px grey;
  }
  &.large {
    font-size: 1em;
  }
}

.active {
  border-color: $active-button;
  background-color: $active-button;
  font-weight: bold;
  color: white;
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 9px;
}

.margin-bottom {
  margin-bottom: 9px;
}

.padding {
  padding: 9px;
}

.padding-bottom {
  padding-bottom: 9px;
}

.no-margin {
  margin: 0
}

.error {
  color: red;
}

.messages .notice {
  padding: 3px;
  background-color: #90EE90;
}

.messages .error {
  padding: 3px;
  background-color: #FF6060;
  color: black;
}

.small-text {
  font-size: 0.8em
}
