.overlay
  position: absolute
  z-index: 100
  background: white

.overlay-mask
  display: none
  position: absolute
  top: 0
  left: 0
  z-index: 99
  width: 100%
  height: 100%
  background: #333
  filter: alpha(opacity=80)
  opacity: 0.8

.image-overlay
  height: 100%

.overlay-image
  height: 100%

.overlay-column
  height: 100%
  float: left

  &.narrow-column
    margin-left: 9px
    width: 300px

.scroll-lock
  overflow: hidden

.overlay-next
  border-left: 60px solid gray
  right: 10px

.overlay-previous
  border-right: 60px solid gray
  left: 10px

.overlay-next, .overlay-previous
  opacity: 0.5
  position: absolute
  bottom: 50%
  width: 0
  height: 0
  border-top: 60px solid transparent
  border-bottom: 60px solid transparent
