.content-box
  margin-left: 9px
  padding: 3px
  box-sizing: border-box
  height: 100%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

.table
  display: table
  height: 100%

.row
  display: table-row
  height: 100%

.overlay-image
  width: 100%

.overlay-column
  display: table-cell
  vertical-align: top
  height: 100%

  &.right-column
    width: 200px
