---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: UTF-8
      string: client_id=268034760811-b8v9ktoi81gt5kivhv497jhqr7uth3m4.apps.googleusercontent.com&client_secret=<GOOGLE_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<NEW_ACCESS_TOKEN>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/photoslibrary.readonly",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 03 Jan 2019 19:53:54 GMT
recorded_with: VCR 4.0.0
