---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: UTF-8
      string: client_id=268034760811-b8v9ktoi81gt5kivhv497jhqr7uth3m4.apps.googleusercontent.com&client_secret=<GOOGLE_SECRET>&code=<AUTH_CODE>&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fadmin%2Fgoogle_photos_authorizations%2Fcallback
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3450,
          "scope": "https://www.googleapis.com/auth/photoslibrary.readonly",
          "token_type": "Bearer"
        }
  recorded_at: Wed, 02 Jan 2019 01:04:32 GMT
recorded_with: VCR 4.0.0
