body
  .tooltipster-default
    border: 2px solid #000
    .tooltipster-content, .tooltipster-arrow
      background: inherit
      border: none

.octopress-reset
  background: none
  border-right: none
  border: none

.spaced-list
  margin: 0
