@import 'animation';

.simple-list {
  li {
    vertical-align: top;
    display: inline-block;
    width: 240px;
    a {
      text-decoration: none;
    }
  }
}

.plain-list {
  list-style: none;
  margin-left: 10px;
}

.no-margin {
  margin: 0
}

.error {
  color: red;
}

.notice, .error {
  padding: 3px;
}

.messages {
  position: fixed;
  width: 100%;
  top: 10px;
  text-align: 'center';
}

.messages .notice {
  background-color: #90EE90;
}

.messages .error {
  background-color: #FF6060;
  color: black;
}

.fade-out {
  @include animation('slide-down 2s 3');
}

.small-text {
  font-size: 0.8em
}

.form-fields {
  list-style: none;
}
